/* Custom CSS for Versatile Operations website */

/* General Styles */
body {
    background-color: #111; /* Light black background */
    font-family: "Montserrat", sans-serif;
    color: red; /* Set text color to red */
}

.center-img {
    text-align: center;
}

/* Navigation Bar Styles */
.navbar-brand {
    font-size: 20px;
}

.navbar-nav .nav-link {
    margin-right: 10px;
    font-size: 18px;
}

/* Pink Section Styles */
.pink-section {
    background-color: #ffcccc; /* Light red background */
}

/* Cursive and Green Text Styles */
.cursive {
    font-style: italic;
}

.green {
    color: green;
}
