body, h1, h2, h3, h4, h5, h6, .cursive {
    font-family: "Montserrat", cursive;
    color: green;
}

.navbar-nav .nav-link {
    font-family: cursive;
    color: green !important;
}

body {
    background-color: lightcream;
}

.center-img {
    display: flex;
    justify-content: center;
    align-items: center;
}

.pink-section {
    background-color: #ffcccc; /* light red or dark pink */
}
